@import "tailwindcss";

#root {
  --color-tuner-turquoise: #00d8ca;
  --color-middle: #00dbb5;
  --color-tuner-green: #00df96;
  --color-tuner-dark-turquoise: #004b59;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-tuner-turquoise: var(--color-tuner-turquoise);
  --color-middle: var(--color-middle);
  --color-tuner-green: var(--color-tuner-green);
  --color-tuner-dark-turquoise: var(--color-tuner-dark-turquoise);
}

body:before {
  content: " ";
  background: linear-gradient(
    45deg,
    var(--color-tuner-turquoise) 15%,
    var(--color-tuner-dark-turquoise) 50%,
    var(--color-tuner-green)
  );
  bottom: 0;
  filter: blur(10vh);
  height: 20vh;
  display: block;
  position: fixed;
  width: 150%;
  left: -25%;
  opacity: 0.75;
}
